name: test

on:
  push:
  pull_request:
  workflow_dispatch: 

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos", "windows"]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: crystal-lang/install-crystal@v1
        with:
          crystal: latest
      - name: Install dependencies
        run: shards install --without-development
      - name: Run demo
        run: |
          crystal run examples/demo.cr -Dpreview_mt -Dexecution_context
          crystal run examples/benchmark.cr -Dpreview_mt -Dexecution_context
      - name: Run tests
        run: crystal spec -Dpreview_mt -Dexecution_context
